@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,800');

*{
	font-family: Montserrat;
}
.error {
	height: 20px;line-height: 20px;font-size: 12px;color: #fe3b31;
}
.ztr-page {
	background:#E5E5E5;
}
body{
	font-family: Montserrat;
	font-weight: 500;
	font-size: 13px;
	line-height: 20px;
}
img{
	max-width: 100%;
}
.button{
	background: rgba(255,255,255,0.1);
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	color: #FFFFFF;
	width: 159px;
	height: 34px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid transparent;
	border-radius: 0;
	&:hover{
		border: 1px solid #fff;
		background: transparent;
	}
}
.title-home{
	font-style: normal;
	font-weight: 500;
	font-size: 32px;
	line-height: 39px;
	color: #6892FF;
}
.padding-home{
	padding: 40px 0 25px;
	background:#fff;
}
.navbar-light .navbar-toggler{
	border-color: #fff;
	color: #fff;
}
.row-exchange{
	margin: 0 -8px;
	.row-col-exchange{
		padding: 0 8px;
	}
}
.up{
	color: #27AE60!important;
}
.down{
	color: #FB3565!important;
}
table{
	width: 100%;
}
.scroll-table{
	overflow-y: auto;
	&::-webkit-scrollbar {
	  	width: 2px;
	}
	&::-webkit-scrollbar-track {
	  	background: #f1f1f1; 
	}
	&::-webkit-scrollbar-thumb {
	  	background: #888; 
	}
	&::-webkit-scrollbar-thumb:hover {
	  	background: #555; 
	}
}
.modal-register {
	color: #000;
	.btn-secondary {
		background: #6892FF!important;
		color: #fff;
		font-weight: 600;
		font-size: 14px;
		line-height: 17px;
	    padding: 12px;
    	height: 100%;
	}
}
.modal-unlock-2 {
	h2.text-center {
		text-align: left!important;
		font-weight: 500;
	    font-size: 16px;
	    line-height: 20px;
	    color: #000000;
	    width: 95%;
	    float: left;
        margin-bottom: 0;
    	margin-top: 5px;
	}
	.header-modal {
		padding: 14px 15px;
		border-bottom: 1px solid #dee2e6;
		button {
			width: 5%;
			float: right;
		}
	}
	.modal-body {
		padding: 0;
	}
	.modal-info {
		padding: 14px 16px;
		h6 {
		    font-weight: 400;
		    font-size: 13px;
		    line-height: 18px;
		    color: #333333;
		    text-align: left!important;
		}
	}
}
.modal-unlock {
	.modal-title {
		font-size: 16px;
	}
	
	h4.title {
		color: #333333;
		margin-bottom: 0;
	}
	.header {
	    padding: 14px 0;
    	padding-top: 0;
    	margin-bottom: 16px;
    	border-bottom: 1px solid #F2F2F2;
	}
	p.text-left {
		color: #333333!important;
		margin-bottom: 4px;
	}
	h4 {
		text-align: left;
		font-weight: 600!important;
		font-size: 16px!important;
		line-height: 22px!important;
	}
	fieldset {
		margin-top: 16px;
		p {
			color: #333333!important;
		}
	}
	input.form-control {
		font-weight: 500;
		font-size: 14px;
		line-height: 17px;
	}
	button.btn-lock {
		background: #6892FF!important;
		color: #fff;
		font-weight: 600;
		font-size: 14px;
		line-height: 17px;
	    padding: 12px;
    	height: 100%;
	}
	.col-form-legend {
		color: #333333;
	}
/*	button.close {
	    border-radius: 74px;
	    border: 1px solid #000;
	    padding: 5px 7px;
	    margin-top: -5px;
	    margin-right: -9px;
	    display: flex;
	    align-items: center;
	    font-size: 24px;
	}*/
	.note {
		text-align: left;
		font-size: 12px;
		line-height: 18px;
	}
}
.hidden{
	display: none;
}
.info-error{
    height: 20px;
}
.descriptipn-info{
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #333333;
}
.modal p {
	text-align: left!important;
}
